body{
  background-color: black;
}


h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Lato", sans-serif;
  color: white;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.bg-black {
  background-color: black;
}

.bg-celeste {
  background-color: #499ca0;
}

.card-title {
  font-weight: 700;
}
/*CSS Fernando */
.header {
  background: url(/assets/img/carousel1.jpg) no-repeat center;
  background-size: cover;
  /* ∫ */
}
.header .navbar {
  background-color: transparent !important;
}
/*CSS Fernando---------- cierra */


/* sección cartas con íconos */
#descripcion{
  background-color: black;
  color: #ffffff;  
  font-weight: 300px;
  font-size: 16px;
}

#descripcion h2{
  font-size: 25.912px;
  font-weight: 700px;
}
.fila{
  font-size: 16px;
}
.bajoiconos{
  background-color: #499ca0;
}