body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Lato", sans-serif;
  color: white;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.section-title {
  text-transform: uppercase;
}

.bg-black {
  background-color: black;
}

.bg-celeste {
  background-color: #499ca0;
}

.card-title {
  font-weight: 700;
}
/*CSS Fernando */
.navbar-dark .navbar-nav .nav-link {
  font-family: "Lato", sans-serif;
  color: white;
}
.header {
  background: url(/assets/img/carousel1.jpg) no-repeat center;
  background-size: cover;
  /* ∫ */
}
.header .navbar {
  background-color: transparent !important;
}
.logo {
  width: 35px;
  height: 35px;
}
/*CSS Fernando---------- cierra */

/* sección cartas con íconos */
#descripcion {
  background-color: black;
  color: #ffffff;
  font-weight: 300px;
  /* font-size: 16px; */
}

#descripcion h2 {
  font-size: 25.912px;
  font-weight: 700px;
}
.fila {
  font-size: 16px;
}
.bajoiconos {
  background-color: #499ca0;
  padding: 0.5em;
}
.letra-contacto {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.letra {
  color: white;
  font-family: "Lato", sans-serif;
}

.btn-celeste {
  background-color: #499ca0;
}
.bg-footer {
  background-color: #499ca0;
}
.icono {
  color: white;
  width: 20px;
  height: 20px;
}
